<div class="flex card my-4">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small>Data de publicação: {{post.date}}</small>
        <hr>
        <p>{{post.description}}</p>
    </div>
</div>