<h3>Nova Categoria:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/category/new" method="post">
            <label for="Name">Nome:</label>
            <input type="text" name="Name" id="Name" placeholder="Nome da Categoria" class="form-control">
            <label for="Slug">Slug: </label>
            <input type="text" name="Slug" id="Slug" placeholder="Slug da Categoria" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Criar a Categoria</button>
        </form>
    </div>
</div>