<h3>Nova Categoria:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/category/new" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" placeholder="Nome da Categoria" class="form-control">
            <label for="Slug">Slug: </label>
            <input type="text" name="slug" id="slug" placeholder="Slug da Categoria" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Criar a Categoria</button>
        </form>
    </div>
</div>