*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#00acac;
}

div#main{
    padding:20px;
    min-height:500px;
    min-width:500px;
    border-radius:5px;
    background-color:white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.397);
}

h1{
    margin:20px 0px;
}

table{
    max-height:200px;
    width:100%;
    border-collapse:collapse;
    text-align:left;
    margin-bottom: 20px;
}
th, td{
    border:1px solid black;
    padding:10px;
}

section{
    margin-bottom:20px;
}
#peso, #altura{
    width:100%;
    height: 30px;
    font-size:1.1em;
}

input#botao{
    width:100%;
    height: 80px;
    font-size:1.1em;
    background-color:#00acac;
    color:white;
    border:1px solid black;
    border-radius:5px;
}
input#botao:hover{
    background-color:#018383;
    cursor: pointer;
}

div#res{
    display:none;
    justify-content: center;
    align-items: center;
    margin:15px 0px;
    height:100px;
    width:100%;
    border-radius:15px;
    background-color:#017e7e;
    color:white;
    font-size: 2em;
}
