{{#each error}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h4>Crie sua conta hoje:</h4>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" class="form-control my-2">
            <label for="Email">Email: </label>
            <input type="text" name="email" id="email" placeholder="example@example.com" class="form-control my-2">
            <label for="password">Senha: </label>
            <input type="password" name="password" id="password" class="form-control my-2">
            <label for="repeatedPassword">Repita a sua senha: </label>
            <input type="password" name="repeatedPassword" id="repeatedPassword" class="form-control my-2">
            <button type="submit" class="btn btn-success mt-2">Criar Conta</button>
        </form>
    </div>
</div>